.cardInfoDiv {
    display: flex;
}

.cardInputDiv {
    height: inherit;
    width: 220px;
    vertical-align: middle;
}

.cardInput {
    height: inherit;
    width: inherit;
    vertical-align: middle;
}

.cardButton {
    width: 30px;
    height: 50px;
}

.cardModifyButton {
    margin-top: 5px;
}