
.title {
    font-size: 50px;
    color: #3F51B5;
    text-align: center;
}

.shadow {
    margin-top: 30px;
    padding: 40px 60px;
    box-shadow: 20px 20px 20px grey;
}

.modaltitle {
    font-size: 30px;
    text-align: center;
    color: #3F51B5;
    margin-bottom: 20px;

}