.workspaces {
    height: 500px;
    overflow: auto;
    scroll:none;
}
.workspaces::-webkit-scrollbar{
    display: none;
}
.notification {
    height: 800px;
    overflow: auto;
}

.notification::-webkit-scrollbar{
    display: none;
}