@font-face {
    font-family: 'Volkhov-Bold';
    src: url('../fonts/Volkhov-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

.title {
    font-family: 'Volkhov-Bold';
    font-size: 50px;
    color: #3F51B5;
    text-align: center;
    position: relative;
}